@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
  }

.parallax1 {
  background: url(card.jpeg);
  min-height: 100%;
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.heading {
  position: absolute;
  color: #fff;
  font-size: 500%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
  }



@media (max-width:768px){
  .heading {
    font-size: 180%;
   }

}
